* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}


/* set humburger display to none  */
.humburger{
    display: none;

}
/* navigation */
.nav-bar {
   
    display: flex;
    justify-content: space-between;
    margin: 1em;

}
.nav-bar .logo{
    margin-left: 2rem;
    font-size: 1.2rem;
}

.nav-items {
    display: flex;
    margin: 0em 1em;
    list-style: none;

}

.nav-items li {
    margin: .3em 1em;
}

.nav-items li a {
    color: black;
    font-size: 1.4rem;
    text-decoration: none;

}
/* blog section */
.container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* margin: 2em 2em; */
    
    

}
.side-bar{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    background-color: rgb(201, 199, 197);
    color: black;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-top: 1.7em;
    padding: .8em 0em;
    
   

}
.side-bar h2{
    font-weight: 800;
    margin-left: 1.6em;
    padding-bottom: .6em;
    /* border-bottom: 2px solid  rgb(37, 37, 37); */
   
    

}
.side-bar a{
    margin-left: 1em;
    color: black;
   
    width: 100%;
    padding: .7em .9em;
    text-decoration: none;
    font-weight: 600;
    
}
.side-bar a:hover{
    text-decoration: underline;
    color: rgb(122, 33, 33);
   

}
/* content */
.content{
    width: 75%;
    margin-left: 2em;
}
.content img{
    width: 100%;
    padding: 1em .4em;
    margin: 1em;
}
.content h1{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1em ;
}
.content h2{
    font-size: 1.7em;
    margin: .6em;
}
.content p{
    font-size: 1.4rem;
    margin: .8em;
}


@media (max-width:600px) {
    html {
        font-size: 13px;
       
    }
    /* humburger */
    .humburger{
        display: block;
        position: absolute;
        top: .9em;
        right: 15px;
        cursor: pointer;
    }
    .humburger .line{
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
       
    }
    .nav-item{
        position: absolute;
        width: 100vw;
        height: 0;
        top: 80px;
        left: 0;
        right: 0;
        transition: 0.3s;
        background-color: azure;
        overflow: hidden;
       
    }
    .nav-item.active{
        height: 230px;
    }
    .nav-item ul{
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 0.3s;
        opacity: 0;
    }
    
    .nav-item.active ul{
        opacity: 1;
    }

    .nav-bar {
        width: 100%;
        height: 10vh;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(196, 193, 193);
        color: black;
        
    }

    .nav-items {
        flex-direction: column;
        align-items: center;
        margin: 1em 0em;


    }

    .nav-items li a {
        color: black;
    }

    .side-bar{
        display: none;
    }
    
}